.media-controls-container {
  .bluetooth-indicator {
    .bluetooth-device {
      .bluetooth-icon {
        font-size: 2rem;
        @include element_decel;
        @include icon-material;
        color: $onSurfaceVariant;
    }
      .bluetooth-battery {
      }
    }
  }
}
.controls-container {
    background-color: $layer1;
    @include element_decel;
    @include full-rounding;
    padding:0.1rem;
    }
.control-button {
    font-size: 2.5rem;
    @include full-rounding;
    color: $onSurfaceVariant;
    padding: 0  1rem;
    &:active {
      color: $activecolor;
      background-color: $layer0Active;
      @include element_accel;
      padding: 0  1rem;
    }
    &:hover {
      color: $hovercolor;
      background-color: $layer0Hover;
      @include element_accel;
      padding: 0  1rem;
      @include full-rounding;
    }
}

  .shuffle-button,
  .prev-button,
  .next-button,
  .loop-button,
  .wallpaper-button {
   
}

  .shuffle-button.active,
  .loop-button.active,
  .wallpaper-button.active {
  }

.progress-circle {
}

.track-info {
  .track-title,
  .track-artist {
  }
}

.caption-spacing {
}

.cava-bar {
  &.cava-bar-high {

  }
  &.cava-bar-med {
  }
  &.cava-bar-low {
  }
}

.cover-art {
    margin: 0 1.5rem;
    
    .cover-art-container {
    
    .cover-art-icon {
    
    }
    .cover-art {
        }
  }
}

.cover-art-container {
}

.background-layer {
    background-color: $layer0;
  
    &.with-blur {
  }

  .transition {
  }
}

.ipod-widget {
    background-color: $layer0;
  }